In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Friendzone.csv')

In [5]:
df.head(-3)

    username            name         city reason  gender
0       taha      ???? ?????       Tehran      f    male
1          0  ???? ???? ????       custom      u    male
2          1      ???? ?????       Tehran      f  female
3          2       ???? ????       Shiraz      a    male
4          3      ???? ?????       Shiraz      u  female
..       ...             ...          ...    ...     ...
167      166       ???? ????       Shiraz      a    male
168      167    ????? ??????  BandarAbbas      y    male
169      168      ????? ????       Tehran      y    male
170      169  ??????? ??????       Tehran      y    male
171      170    ???? ???????       Tehran      i  female

[172 rows x 5 columns]

In [6]:
df.isnull().sum()

username    0
name        0
city        0
reason      0
gender      3
dtype: int64